.chaba-bg{
    background-image: url('../img/bg-pic.png');
    background-size: 100%;
}

.nav-link{
    font-family: "Arial";
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 25px;
    color: black;
}

.active{
    color: #5D1616;
}

.nav-link:hover{
    color: #5D1616;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

.sub-title{
    font-size: 29px;
}

#btn-seach{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: solid black 2px;
    margin-top: 10px;
    font-size: 22px;
}

#btn-seach:hover{
    background-color: #5D1616 !important;
    color: white;
    border: solid #5D1616 2px !important;
}

#btn-seach:focus{
    outline: 0;
    box-shadow: 0 0 0 0.1rem #7D4545;
}
